<%= @where %>
<%= @when %>
<%= @what %>


<h1 class="title">Matching <i class="gold">rock</i> artists playing in <i class="gold">London</i> between <i class="gold">20/04/13</i> and <i class="gold">22/04/13</i></h1>

 <div class="row skip">

 <h3>Not so keen on what you're hearing? Skip to another artist</h3>
  <div>
    <div class="back-fwd span2 offset1">
      <a href="#"><i class="icon-step-backward icon-3x"></i></a>
      <p>Previous artist</p>
    </div>

    <div class="back-fwd span1">
        <i class="icon-headphones icon-4x"></i>
    </div>

    <div class="back-fwd span2">
        <a href="#"><i class="icon-step-forward icon-3x"></i></a>
        <p>Next artist</p>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="listing span3">
    <h3>Artist: <i class="gold">Radiohead</i></h3>
    <h3>Playing at: <i class="gold">O2 Arena</i></h3>
    <h3>On: <i class="gold">20/04/13</i></h3>

    <div class="tickets span3"> 
      <h3>Like what you're hearing?</h3>
      <button class="ticket-btn">Buy tickets!</button>
      </div>
  </div>


  
    <div class="album span5"> <!-- style= "background: url(http://img.cdandlp.com/2012/09/imgL/115569818.jpg, :height => 400) no-repeat;"> -->

      <div class="player span5">
          <a href="#"><i class="icon-step-backward icon-3x icon"></i></a>
        <a href="#"><i class="icon-play icon-3x icon"></i></a>
        <a href="#"><i class="icon-pause icon-3x icon"></i></a>
        <a href="#"><i class="icon-step-forward icon-3x icon"></i></a>
      </div>

      <div class="song-album span5">
        <div class="playing-text">
       <h4>Song now playing: <i class="gold">Fake Plastic Trees</i></h4>
      <h4>From album: <i class="gold">The Bends</i></h4>
        </div>
      </div>
    </div>

</div>


</div>


