---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/search/locations.json?apikey=Hkockg21oUnNQEZa&query=jalilililili%20uk
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{\"resultsPage\":{\"status\":\"ok\",\"results\":{},\"perPage\":50,\"page\":1,\"totalEntries\":0}}"
  recorded_at: Mon, 22 Apr 2013 09:12:40 GMT
recorded_with: VCR 2.4.0
