--- 
http_interactions: 
- request: 
    method: get
    uri: http://developer.echonest.com/api/v4/artist/terms?api_key=SYT5EOFXZFDBJFV2P&format=json&id=songkick:artist:1678900767865788
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"42a882dfcf6bbeb8ac977f08bfcd17e468b3d069\""
      X-Worker-Node: 
      - 2d6ca:25704
      X-Ratelimit-Remaining: 
      - "18"
      X-Ratelimit-Limit: 
      - "20"
      X-Ratelimit-Used: 
      - "2"
    body: 
      encoding: ASCII-8BIT
      string: "{\"response\": {\"status\": {\"version\": \"4.2\", \"code\": 5, \"message\": \"The Identifier specified does not exist\"}}}"
  recorded_at: Tue, 23 Apr 2013 14:56:41 GMT
- request: 
    method: get
    uri: http://developer.echonest.com/api/v4/artist/terms?api_key=&format=json&id=songkick:artist:1678900767865788
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      Content-Type: 
      - text/html; charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"response\": {\"status\": {\"version\": \"4.2\", \"code\": 1, \"message\": \"1|Invalid key: Unknown\"}}}"
  recorded_at: Wed, 24 Apr 2013 11:17:57 GMT
recorded_with: VCR 2.4.0
