--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.songkick.com/api/3.0/search/locations.json?apikey=Hkockg21oUnNQEZa&query=london%20uk
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Status: 
      - 200 OK
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"resultsPage\":{\"status\":\"ok\",\"results\":{\"location\":[{\"city\":{\"lat\":51.5078,\"lng\":-0.128,\"country\":{\"displayName\":\"UK\"},\"displayName\":\"London\"},\"metroArea\":{\"lat\":51.5078,\"lng\":-0.128,\"country\":{\"displayName\":\"UK\"},\"uri\":\"http://www.songkick.com/metro_areas/24426-uk-london?utm_source=19589&utm_medium=partner\",\"displayName\":\"London\",\"id\":24426}}]},\"perPage\":50,\"page\":1,\"totalEntries\":1}}"
  recorded_at: Mon, 22 Apr 2013 18:26:30 GMT
[...]
- request: 
    method: get
    uri: http://api.songkick.com/api/3.0/events.json?apikey=Hkockg21oUnNQEZa&location=sk:24426&max_date=2013-04-23&min_date=2013-04-22&page=1&per_page=100
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Status: 
      - 200 OK
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"resultsPage\":{\"status\":\"ok\",\"results\":{\"event\":[{\"type\":\"Concert\",\"performance\":[{\"billingIndex\":1,\"billing\":\"headline\",\"artist\":{\"displayName\":\"Anna Lena and the Orchids\",\"uri\":\"http://www.songkick.com/artists/4309686-anna-lena-and-the-orchids?utm_source=19589&utm_medium=partner\",\"id\":4309686,\"identifier\":[]},\"displayName\":\"Anna Lena and the Orchids\",\"id\":32284354}],\"venue\":{\"metroArea\":{\"displayName\":\"London\",\"uri\":\"http://www.songkick.com/metro_areas/24426-uk-london?utm_source=19589&utm_medium=partner\",\"id\":24426,\"country\":{\"displayName\":\"UK\"}},\"lat\":51.5143061,\"displayName\":\"Phoenix Artist Club\",\"lng\":-0.1294644,\"uri\":\"http://www.songkick.com/venues/1071526-phoenix-artist-club?utm_source=19589&utm_medium=partner\",\"id\":1071526},\"status\":\"ok\",\"popularity\":0.0,\"start\":{\"time\":\"19:30:00\",\"datetime\":\"2013-04-22T19:30:00+0000\",\"date\":\"2013-04-22\"},\"displayName\":\"Anna Lena and the Orchids at Phoenix Artist Club (April 22, 2013)\",\"location\":{\"city\":\"London, UK\",\"lat\":51.5143061,\"lng\":-0.1294644},\"uri\":\"http://www.songkick.com/concerts/16354234-anna-lena-and-the-orchids-at-phoenix-artist-club?utm_source=19589&utm_medium=partner\",\"id\":16354234},{\"type\":\"Concert\",\"performance\":[{\"displayName\":\"Marius Neset\",\"artist\":{\"uri\":\"http://www.songkick.com/artists/619694-marius-neset?utm_source=19589&utm_medium=partner\",\"displayName\":\"Marius Neset\",\"identifier\":[{\"mbid\":\"d98a14fc-3346-4885-852c-4c015394dcae\",\"href\":\"http://api.songkick.com/api/3.0/artists/mbid:d98a14fc-3346-4885-852c-4c015394dcae.json\"}],\"id\":619694},\"billing\":\"headline\",\"id\":31026119,\"billingIndex\":1}],\"location\":{\"lat\":51.5151128,\"lng\":-0.1333172,\"city\":\"London, UK\"},\"venue\":{\"lat\":51.5151128,\"metroArea\":{\"country\":{\"displayName\":\"UK\"},\"uri\":\"http://www.songkick.com/metro_areas/24426-uk-london?utm_source=19589&utm_medium=partner\",\"displayName\":\"London\",\"id\":24426},\"uri\":\"http://www.songkick.[...]
[...]
- request: 
    method: get
    uri: http://developer.echonest.com/api/v4/artist/terms?api_key=SYT5EOFXZFDBJFV2P&format=json&id=songkick:artist:4309686
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"7512c1db59a9c758bcb432ddf1446bed99d851cd\""
      X-Worker-Node: 
      - 62c18:18220
      X-Ratelimit-Remaining: 
      - "19"
      X-Ratelimit-Limit: 
      - "20"
      X-Ratelimit-Used: 
      - "1"
    body: 
      encoding: ASCII-8BIT
      string: "{\"response\": {\"status\": {\"version\": \"4.2\", \"code\": 0, \"message\": \"Success\"}, \"start\": 0, \"terms\": [{\"frequency\": 0.45389095759238179, \"name\": \"indie\", \"weight\": 0.46511627906976744}, {\"frequency\": 0.43656239021994364, \"name\": \"electronic\", \"weight\": 0.41860465116279072}, {\"frequency\": 0.27219065112811108, \"name\": \"noise\", \"weight\": 0.32558139534883723}, {\"frequency\": 0.17169879986314276, \"name\": \"electro\", \"weight\": 0.20930232558139536}, {\"frequency\": 0.18287794498873894, \"name\": \"remix\", \"weight\": 0.20930232558139536}, {\"frequency\": 0.33928813005171315, \"name\": \"rock\", \"weight\": 0.20930232558139536}, {\"frequency\": 0.17318068760689681, \"name\": \"funk\", \"weight\": 0.18604651162790697}]}}"
  recorded_at: Mon, 22 Apr 2013 18:26:32 GMT
- request: 
    method: get
    uri: http://developer.echonest.com/api/v4/artist/profile?api_key=SYT5EOFXZFDBJFV2P&bucket=id:rdio-US&format=json&id=songkick:artist:4309686
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"d09f0e10c319b706481e627ac4e191a805c4aac3\""
      X-Worker-Node: 
      - 2902a:29816
      X-Ratelimit-Remaining: 
      - "19"
      X-Ratelimit-Limit: 
      - "20"
      X-Ratelimit-Used: 
      - "1"
    body: 
      encoding: ASCII-8BIT
      string: "{\"response\": {\"status\": {\"version\": \"4.2\", \"code\": 0, \"message\": \"Success\"}, \"artist\": {\"foreign_ids\": [{\"catalog\": \"rdio-US\", \"foreign_id\": \"rdio-US:artist:r650403\"}], \"id\": \"ARMSBFM119B8668913\", \"name\": \"Anna Lena\"}}}"
  recorded_at: Mon, 22 Apr 2013 18:36:59 GMT
- request: 
    method: post
    uri: http://api.rdio.com/1/
    body: 
      encoding: US-ASCII
      string: method=getTracksForArtist&artist=4309686&count=1
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="p3kgnybu9qgrdr22xe558q2v", oauth_nonce="116d7c2cfee5bc6b154d10786721db36", oauth_signature="hUkq24BqcSCwkbo1GQnE8NeIom8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1366655819", oauth_version="1.0"
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Mashery-Responder: 
      - mashery-web2-lax.mashery.com
      Content-Type: 
      - application/json
      X-Srv: 
      - srv-210-28
      Content-Language: 
      - en
      X-Version: 
      - "720"
    body: 
      encoding: US-ASCII
      string: "{\"status\": \"error\", \"message\": \"unexpected argument: 4309686\"}"
  recorded_at: Mon, 22 Apr 2013 18:37:00 GMT
recorded_with: VCR 2.4.0
