--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.songkick.com/api/3.0/search/locations.json?apikey=Hkockg21oUnNQEZa&query=london%20uk
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Status: 
      - 200 OK
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"resultsPage\":{\"status\":\"ok\",\"results\":{\"location\":[{\"city\":{\"lat\":51.5078,\"lng\":-0.128,\"country\":{\"displayName\":\"UK\"},\"displayName\":\"London\"},\"metroArea\":{\"lat\":51.5078,\"lng\":-0.128,\"country\":{\"displayName\":\"UK\"},\"uri\":\"http://www.songkick.com/metro_areas/24426-uk-london?utm_source=19589&utm_medium=partner\",\"displayName\":\"London\",\"id\":24426}}]},\"perPage\":50,\"page\":1,\"totalEntries\":1}}"
  recorded_at: Tue, 23 Apr 2013 08:35:08 GMT
[...]
- request: 
    method: get
    uri: http://api.songkick.com/api/3.0/events.json?apikey=Hkockg21oUnNQEZa&location=sk:24426&max_date=2013-04-25&min_date=2013-04-25&page=1&per_page=100
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Status: 
      - 200 OK
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"resultsPage\":{\"status\":\"ok\",\"results\":{\"event\":[{\"type\":\"Concert\",\"status\":\"ok\",\"performance\":[{\"artist\":{\"displayName\":\"Jenny Lindfors\",\"uri\":\"http://www.songkick.com/artists/1990854-jenny-lindfors?utm_source=19589&utm_medium=partner\",\"identifier\":[{\"mbid\":\"ef34952d-5f22-4f3b-95af-e44657083dff\",\"href\":\"http://api.songkick.com/api/3.0/artists/mbid:ef34952d-5f22-4f3b-95af-e44657083dff.json\"}],\"id\":1990854},\"billingIndex\":1,\"billing\":\"headline\",\"displayName\":\"Jenny Lindfors\",\"id\":29935694}],\"venue\":{\"lat\":51.5486288,\"displayName\":\"Servant Jazz Quarters\",\"lng\":-0.0767293,\"uri\":\"http://www.songkick.com/venues/494921-servant-jazz-quarters?utm_source=19589&utm_medium=partner\",\"id\":494921,\"metroArea\":{\"country\":{\"displayName\":\"UK\"},\"displayName\":\"London\",\"uri\":\"http://www.songkick.com/metro_areas/24426-uk-london?utm_source=19589&utm_medium=partner\",\"id\":24426}},\"popularity\":0.00012,\"location\":{\"lat\":51.5486288,\"lng\":-0.0767293,\"city\":\"London, UK\"},\"start\":{\"time\":\"19:30:00\",\"date\":\"2013-04-25\",\"datetime\":\"2013-04-25T19:30:00+0000\"},\"displayName\":\"Jenny Lindfors at Servant Jazz Quarters (April 25, 2013)\",\"uri\":\"http://www.songkick.com/concerts/15227494-jenny-lindfors-at-servant-jazz-quarters?utm_source=19589&utm_medium=partner\",\"id\":15227494},{\"type\":\"Concert\",\"performance\":[{\"billingIndex\":1,\"billing\":\"headline\",\"artist\":{\"displayName\":\"\xE2\x80\xA6And You Will Know Us by the Trail of Dead\",\"uri\":\"http://www.songkick.com/artists/4301-and-you-will-know-us-by-the-t[...]
[...]
- request: 
    method: get
    uri: http://developer.echonest.com/api/v4/artist/terms?api_key=SYT5EOFXZFDBJFV2P&format=json&id=songkick:artist:1990854
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"f762a53e4ac241a0304a0c8d9a67ed38f1e5bc53\""
      X-Worker-Node: 
      - 20284:16953
      X-Ratelimit-Remaining: 
      - "19"
      X-Ratelimit-Limit: 
      - "20"
      X-Ratelimit-Used: 
      - "1"
    body: 
      encoding: ASCII-8BIT
      string: "{\"response\": {\"status\": {\"version\": \"4.2\", \"code\": 0, \"message\": \"Success\"}, \"start\": 0, \"terms\": [{\"frequency\": 1.0, \"name\": \"folk\", \"weight\": 1.0}, {\"frequency\": 0.35617591359796635, \"name\": \"singer-songwriter\", \"weight\": 0.45454545454545453}, {\"frequency\": 0.16452396420594498, \"name\": \"soul\", \"weight\": 0.15360501567398119}]}}"
  recorded_at: Tue, 23 Apr 2013 11:17:36 GMT
[...]
