--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.songkick.com/api/3.0/search/locations.json?apikey=Hkockg21oUnNQEZa&query=%20uk
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Status: 
      - 200 OK
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"resultsPage\":{\"status\":\"ok\",\"results\":{\"location\":[{\"city\":{\"lat\":51.5078,\"lng\":-0.128,\"country\":{\"displayName\":\"UK\"},\"displayName\":\"London\"},\"metroArea\":{\"lat\":51.5078,\"lng\":-0.128,\"country\":{\"displayName\":\"UK\"},\"uri\":\"http://www.songkick.com/metro_areas/24426-uk-london?utm_source=19589&utm_medium=partner\",\"displayName\":\"London\",\"id\":24426}},{\"city\":{\"lat\":null,\"lng\":null,\"country\":{\"displayName\":\"UK\"},\"displayName\":\"Camden\"},\"metroArea\":{\"lat\":51.5078,\"lng\":-0.128,\"country\":{\"displayName\":\"UK\"},\"uri\":\"http://www.songkick.com/metro_areas/24426-uk-london?utm_source=19589&utm_medium=partner\",\"displayName\":\"London\",\"id\":24426}},{\"metroArea\":{\"lat\":51.5078,\"displayName\":\"London\",\"lng\":-0.128,\"uri\":\"http://www.songkick.com/metro_areas/24426-uk-london?utm_source=19589&utm_medium=p[...]
[...]
- request: 
    method: get
    uri: http://api.songkick.com/api/3.0/events.json?apikey=Hkockg21oUnNQEZa&location=sk:24426&max_date=&min_date=&page=1&per_page=100
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      Status: 
      - 400 Bad Request
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"resultsPage\":{\"status\":\"error\",\"error\":{\"message\":\"Parameter 'min_date' should have the format 'YYYY-MM-DD'\"}}}"
  recorded_at: Wed, 24 Apr 2013 12:26:43 GMT
recorded_with: VCR 2.4.0
