--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.songkick.com/api/3.0/search/locations.json?apikey=Hkockg21oUnNQEZa&query=london%20uk
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Status: 
      - 200 OK
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"resultsPage\":{\"status\":\"ok\",\"results\":{\"location\":[{\"city\":{\"lat\":51.5078,\"lng\":-0.128,\"country\":{\"displayName\":\"UK\"},\"displayName\":\"London\"},\"metroArea\":{\"lat\":51.5078,\"lng\":-0.128,\"country\":{\"displayName\":\"UK\"},\"uri\":\"http://www.songkick.com/metro_areas/24426-uk-london?utm_source=19589&utm_medium=partner\",\"displayName\":\"London\",\"id\":24426}}]},\"perPage\":50,\"page\":1,\"totalEntries\":1}}"
  recorded_at: Mon, 22 Apr 2013 16:29:23 GMT
[...]
- request: 
    method: get
    uri: http://api.songkick.com/api/3.0/events.json?apikey=Hkockg21oUnNQEZa&location=sk:24426&max_date=2013-04-22&min_date=2013-04-22&page=1&per_page=100
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Status: 
      - 200 OK
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"resultsPage\":{\"status\":\"ok\",\"results\":{\"event\":[{\"type\":\"Concert\",\"performance\":[{\"billingIndex\":1,\"billing\":\"headline\",\"artist\":{\"displayName\":\"Anna Lena and the Orchids\",\"uri\":\"http://www.songkick.com/artists/4309686-anna-lena-and-the-orchids?utm_source=19589&utm_medium=partner\",\"id\":4309686,\"identifier\":[]},\"displayName\":\"Anna Lena and the Orchids\",\"id\":32284354}],\"venue\":{\"metroArea\":{\"displayName\":\"London\",\"uri\":\"http://www.songkick.com/metro_areas/24426-uk-london?utm_source=19589&utm_medium=partner\",\"id\":24426,\"country\":{\"displayName\":\"UK\"}},\"lat\":51.5143061,\"displayName\":\"Phoenix Artist Club\",\"lng\":-0.1294644,\"uri\":\"http://www.songkick.com/venues/1071526-phoenix-artist-club?utm_source=19589&utm_medium=partner\",\"id\":1071526},\"status\":\"ok\",\"popularity\":0.0,\"start\":{\"time\":\"19:30:00\",\"datetime\":\"2013-04-22T19:30:00+0000\",\"date\":\"2013-04-22\"},\"displayName\":\"Anna Lena and the Orchids at Phoenix Artist Club (April 22, 2013)\",\"location\":{\"city\":\"London, UK\",\"lat\":51.5143061,\"lng\":-0.1294644},\"uri\":\"http://www.songkick.com/concerts/16354234-anna-lena-and-the-orchids-at-phoenix-artist-club?utm_source=19589&utm_medium=partner\",\"id\":16354234},{\"type\":\"Concert\",\"performance\":[{\"displayName\":\"Marius Neset\",\"artist\":{\"uri\":\"http://www.songkick.com/artists/619694-marius-neset?utm_source=19589&utm_medium=partner\",\"displayName\":\"Marius Neset\",\"identifier\":[{\"mbid\":\"d98a14fc-3346-4885-852c-4c015394dcae\",\"href\":\"http://api.songkick.com/api/3.0/artists/mbid:d98a14fc-3346-4885-852c-4c015394dcae.json\"}],\"id\":619694},\"billing\":\"headline\",\"id\":31026119,\"billingIndex\":1}],\"location\":{\"lat\":51.5151128,\"lng\":-0.1333172,\"city\":\"London, UK\"},\"venue\":{\"lat\":51.5151128,\"metroArea\":{\"country\":{\"displayName\":\"UK\"},\"uri\":\"http://www.songkick.com/metro_areas/24426-uk-london?utm_source=19589&utm_medium=partner\",\"displayName\":\"London\",\"id\":24426},\"uri\":\"http://www.songkick.[...]
[...]
