--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.songkick.com/api/3.0/search/locations.json?apikey=Hkockg21oUnNQEZa&query=london%20uk
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Status: 
      - 200 OK
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"resultsPage\":{\"status\":\"ok\",\"results\":{\"location\":[{\"city\":{\"lat\":51.5078,\"lng\":-0.128,\"country\":{\"displayName\":\"UK\"},\"displayName\":\"London\"},\"metroArea\":{\"lat\":51.5078,\"lng\":-0.128,\"country\":{\"displayName\":\"UK\"},\"uri\":\"http://www.songkick.com/metro_areas/24426-uk-london?utm_source=19589&utm_medium=partner\",\"displayName\":\"London\",\"id\":24426}}]},\"perPage\":50,\"page\":1,\"totalEntries\":1}}"
  recorded_at: Tue, 23 Apr 2013 08:35:11 GMT
[...]
- request: 
    method: get
    uri: http://api.songkick.com/api/3.0/events.json?apikey=Hkockg21oUnNQEZa&location=sk:24426&max_date=2013-04-25&min_date=2013-04-25&page=1&per_page=100
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Status: 
      - 200 OK
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"resultsPage\":{\"status\":\"ok\",\"results\":{\"event\":[{\"type\":\"Concert\",\"status\":\"ok\",\"performance\":[{\"artist\":{\"displayName\":\"Jenny Lindfors\",\"uri\":\"http://www.songkick.com/artists/1990854-jenny-lindfors?utm_source=19589&utm_medium=partner\",\"identifier\":[{\"mbid\":\"ef34952d-5f22-4f3b-95af-e44657083dff\",\"href\":\"http://api.songkick.com/api/3.0/artists/mbid:ef34952d-5f22-4f3b-95af-e44657083dff.json\"}],\"id\":1990854},\"billingIndex\":1,\"billing\":\"headline\",\"displayName\":\"Jenny Lindfors\",\"id\":29935694}],\"venue\":{\"lat\":51.5486288,\"displayName\":\"Servant Jazz Quarters\",\"lng\":-0.0767293,\"uri\":\"http://www.songkick.com/venues/494921-servant-jazz-quarters?utm_source=19589&utm_medium=partner\",\"id\":494921,\"metroArea\":{\"country\":{\"displayName\":\"UK\"},\"displayName\":\"London\",\"uri\":\"http://www.songkick.com/metro_areas/24426-uk-london?utm_source=19589&utm_medium=partner\",\"id\":24426}},\"popularity\":0.00012,\"location\":{\"lat\":51.5486288,\"lng\":-0.0767293,\"city\":\"London, UK\"},\"start\":{\"time\":\"19:30:00\",\"date\":\"2013-04-25\",\"datetime\":\"2013-04-25T19:30:00+0000\"},\"displayName\":\"Jenny Lindfors at Servant Jazz Quarters (April 25, 2013)\",\"uri\":\"http://www.songkick.com/concerts/15227494-jenny-lindfors-at-servant-jazz-quarters?utm_source=19589&utm_medium=partner\",\"id\":15227494},{\"type\":\"Concert\",\"performance\":[{\"billingIndex\":1,\"billing\":\"headline\",\"artist\":{\"displayName\":\"\xE2\x80\xA6And You Will Know Us by the Trail of Dead\",\"uri\":\"http://www.songkick.com/artists/4301-and-you-will-know-us-by-the-t[...]
[...]
- request: 
    method: get
    uri: http://developer.echonest.com/api/v4/artist/terms?api_key=SYT5EOFXZFDBJFV2P&format=json&id=songkick:artist:1990854
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"f762a53e4ac241a0304a0c8d9a67ed38f1e5bc53\""
      X-Worker-Node: 
      - 746e1:31436
      X-Ratelimit-Remaining: 
      - "19"
      X-Ratelimit-Limit: 
      - "20"
      X-Ratelimit-Used: 
      - "1"
    body: 
      encoding: ASCII-8BIT
      string: "{\"response\": {\"status\": {\"version\": \"4.2\", \"code\": 0, \"message\": \"Success\"}, \"start\": 0, \"terms\": [{\"frequency\": 1.0, \"name\": \"folk\", \"weight\": 1.0}, {\"frequency\": 0.35617591359796635, \"name\": \"singer-songwriter\", \"weight\": 0.45454545454545453}, {\"frequency\": 0.16452396420594498, \"name\": \"soul\", \"weight\": 0.15360501567398119}]}}"
  recorded_at: Tue, 23 Apr 2013 11:17:38 GMT
- request: 
    method: get
    uri: http://developer.echonest.com/api/v4/artist/terms?api_key=SYT5EOFXZFDBJFV2P&format=json&id=songkick:artist:4301
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"287091c0c355d7d9f45a85dd8afd1faf2a29e921\""
      X-Worker-Node: 
      - c6357:14825
      X-Ratelimit-Remaining: 
      - "17"
      X-Ratelimit-Limit: 
      - "20"
      X-Ratelimit-Used: 
      - "3"
    body: 
      encoding: ASCII-8BIT
      string: "{\"response\": {\"status\": {\"version\": \"4.2\", \"code\": 0, \"message\": \"Success\"}, \"start\": 0, \"terms\": [{\"frequency\": 1.0, \"name\": \"rock\", \"weight\": 1.0}, {\"frequency\": 0.41822748782903491, \"name\": \"indie rock\", \"weight\": 0.89012598886610017}, {\"frequency\": 0.37613058502476693, \"name\": \"[...]
- request: 
    method: get
    uri: http://developer.echonest.com/api/v4/artist/profile?api_key=SYT5EOFXZFDBJFV2P&bucket=id:rdio-US&format=json&id=songkick:artist:4301
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"0f1f3ba8ff32ee74252f8330b3c0522217d421fa\""
      X-Worker-Node: 
      - 20284:16851
      X-Ratelimit-Remaining: 
      - "16"
      X-Ratelimit-Limit: 
      - "20"
      X-Ratelimit-Used: 
      - "4"
    body: 
      encoding: ASCII-8BIT
      string: "{\"response\": {\"status\": {\"version\": \"4.2\", \"code\": 0, \"message\": \"Success\"}, \"artist\": {\"foreign_ids\": [{\"catalog\": \"rdio-US\", \"foreign_id\": \"rdio-US:artist:r32008\"}], \"id\": \"ARKT6J61187FB4D324\", \"name\": \"...And You Will Know Us by the Trail of Dead\"}}}"
  recorded_at: Tue, 23 Apr 2013 11:17:39 GMT
- request: 
    method: post
    uri: http://api.rdio.com/1/
    body: 
      encoding: US-ASCII
      string: method=getTracksForArtist&artist=r32008&count=1
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="p3kgnybu9qgrdr22xe558q2v", oauth_nonce="e8748d04cf9d463159fd9758ce2454fb", oauth_signature="6gPRWJLNlmJgAJx2uznBaRILnA4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1366715859", oauth_version="1.0"
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Mashery-Responder: 
      - mashery-web4-lax.mashery.com
      Content-Type: 
      - application/json
      X-Srv: 
      - srv-108-18
      Content-Language: 
      - en
      X-Version: 
      - "720"
    body: 
      encoding: US-ASCII
      string: "{\"status\": \"ok\", \"result\": [{\"radioKey\": \"sr21531102|3\", \"baseIcon\": \"album/f/2/2/00000000001e822f/4/square-200.jpg\", \"canDownloadAlbumOnly\": false, \"artistUrl\": \"/artist/...And_You_Will_Know_Us_By_The_Trail_Of_Dead/\", \"duration\": 301, \"album\": \"Lost Songs\", \"isClean\": false, \"albumUrl\": \"/artist/...And_You_Will_Know_Us_By_The_Trail_Of_Dead/album/Lost_Songs/\", \"shortUrl\": \"http://rd.io/x/QitDF8qB/\", \"albumArtist\": \"...And You Will Know Us By The Trail Of Dead\", \"canStream\": true, \"embedUrl\": \"https://rd.io/e/QitDF8qB/\", \"type\": \"t\", \"price\": \"None\", \"trackNum\": 1, \"albumArtistKey\": \"r32008\", \"key\": \"t21531102\", \"icon\": \"http://cdn3.rd.io/album/f/2/2/00000000001e822f/4/square-200.jpg\", \"canSample\": true, \"name\": \"Open Doors\", \"isExplicit\": false, \"artistKey\": \"r32008\", \"url\": \"/artist/...And_You_Will_Know_Us_By_The_Trail_Of_Dead/album/Lost_Songs/track/Open_Doors/\", \"albumKey\": \"a1999407\", \"artist\": \"...And You Will Know Us By The Trail Of Dead\", \"canDownload\": false, \"length\": 1, \"canTether\": true}]}"
  recorded_at: Tue, 23 Apr 2013 08:42:59 GMT
[...]
- request: 
    method: get
    uri: http://developer.echonest.com/api/v4/artist/terms?api_key=SYT5EOFXZFDBJFV2P&format=json&id=songkick:artist:6724929
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"42a882dfcf6bbeb8ac977f08bfcd17e468b3d069\""
      X-Worker-Node: 
      - d1c7d:28303
      X-Ratelimit-Remaining: 
      - "11"
      X-Ratelimit-Limit: 
      - "20"
      X-Ratelimit-Used: 
      - "9"
    body: 
      encoding: ASCII-8BIT
      string: "{\"response\": {\"status\": {\"version\": \"4.2\", \"code\": 5, \"message\": \"The Identifier specified does not exist\"}}}"
  recorded_at: Wed, 24 Apr 2013 14:35:03 GMT
[...]
- request: 
    method: get
    uri: http://developer.echonest.com/api/v4/artist/terms?api_key=SYT5EOFXZFDBJFV2P&format=json&id=songkick:artist:6509489
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 403
      message: Forbidden
    headers: 
      Content-Type: 
      - text/html; charset=UTF-8
      X-Ratelimit-Remaining: 
      - "0"
      X-Ratelimit-Limit: 
      - "20"
      X-Ratelimit-Used: 
      - "30"
    body: 
      encoding: ASCII-8BIT
      string: "{\"response\": {\"status\": {\"version\": \"4.2\", \"code\": 3, \"message\": \"3|You are limited to 20 accesses every minute. You might be eligible for a rate limit increase, go to http://developer.echonest.com/account/upgrade\"}}}"
  recorded_at: Wed, 24 Apr 2013 14:54:25 GMT
recorded_with: VCR 2.4.0
