--- 
http_interactions: 
- request: 
    method: get
    uri: http://developer.echonest.com/api/v4/artist/profile?api_key=&bucket=id:rdio-US&format=json&id=songkick:artist:1678900767865788
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      Content-Type: 
      - text/html; charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"response\": {\"status\": {\"version\": \"4.2\", \"code\": 1, \"message\": \"1|Invalid key: Unknown\"}}}"
  recorded_at: Mon, 22 Apr 2013 15:38:17 GMT
- request: 
    method: get
    uri: http://developer.echonest.com/api/v4/artist/profile?api_key=SYT5EOFXZFDBJFV2P&bucket=id:rdio-US&format=json&id=songkick:artist:1678900767865788
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"42a882dfcf6bbeb8ac977f08bfcd17e468b3d069\""
      X-Worker-Node: 
      - 962d4:3818
      X-Ratelimit-Remaining: 
      - "19"
      X-Ratelimit-Limit: 
      - "20"
      X-Ratelimit-Used: 
      - "1"
    body: 
      encoding: ASCII-8BIT
      string: "{\"response\": {\"status\": {\"version\": \"4.2\", \"code\": 5, \"message\": \"The Identifier specified does not exist\"}}}"
  recorded_at: Mon, 22 Apr 2013 15:54:38 GMT
recorded_with: VCR 2.4.0
