--- 
http_interactions: 
- request: 
    method: get
    uri: http://developer.echonest.com/api/v4/artist/terms?api_key=SYT5EOFXZFDBJFV2P&format=json&id=songkick:artist:1678900767865788
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"42a882dfcf6bbeb8ac977f08bfcd17e468b3d069\""
      X-Worker-Node: 
      - 20284:4190
      X-Ratelimit-Remaining: 
      - "18"
      X-Ratelimit-Limit: 
      - "20"
      X-Ratelimit-Used: 
      - "2"
    body: 
      encoding: ASCII-8BIT
      string: "{\"response\": {\"status\": {\"version\": \"4.2\", \"code\": 5, \"message\": \"The Identifier specified does not exist\"}}}"
  recorded_at: Thu, 25 Apr 2013 14:10:24 GMT
recorded_with: VCR 2.4.0
