---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/profile?api_key=SYT5EOFXZFDBJFV2P&bucket=id:rdio-US&format=json&id=songkick:artist:253846
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"aaf8d42a245b72d8c88dce8f497a38048cfcfd91\""
      X-Worker-Node:
      - 2902a:4121
      X-Ratelimit-Remaining:
      - "18"
      X-Ratelimit-Limit:
      - "20"
      X-Ratelimit-Used:
      - "2"
    body:
      encoding: ASCII-8BIT
      string: "{\"response\": {\"status\": {\"version\": \"4.2\", \"code\": 0, \"message\": \"Success\"}, \"artist\": {\"foreign_ids\": [{\"catalog\": \"rdio-US\", \"foreign_id\": \"rdio-US:artist:r91318\"}], \"id\": \"ARH6W4X1187B99274F\", \"name\": \"Radiohead\"}}}"
  recorded_at: Thu, 25 Apr 2013 14:40:51 GMT
recorded_with: VCR 2.4.0
