--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.songkick.com/api/3.0/search/locations.json?apikey=Hkockg21oUnNQEZa&query=london%20uk
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Status: 
      - 200 OK
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"resultsPage\":{\"status\":\"ok\",\"results\":{\"location\":[{\"city\":{\"lat\":51.5078,\"lng\":-0.128,\"country\":{\"displayName\":\"UK\"},\"displayName\":\"London\"},\"metroArea\":{\"lat\":51.5078,\"lng\":-0.128,\"country\":{\"displayName\":\"UK\"},\"uri\":\"http://www.songkick.com/metro_areas/24426-uk-london?utm_source=19589&utm_medium=partner\",\"displayName\":\"London\",\"id\":24426}}]},\"perPage\":50,\"page\":1,\"totalEntries\":1}}"
  recorded_at: Tue, 23 Apr 2013 14:39:44 GMT
[...]
- request: 
    method: get
    uri: http://api.songkick.com/api/3.0/events.json?apikey=Hkockg21oUnNQEZa&location=sk:24426&max_date=2013-04-25&min_date=2013-04-25&page=1&per_page=100
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Status: 
      - 200 OK
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"resultsPage\":{\"status\":\"ok\",\"results\":{\"event\":[{\"type\":\"Concert\",\"status\":\"ok\",\"performance\":[{\"artist\":{\"displayName\":\"Jenny Lindfors\",\"uri\":\"http://www.songkick.com/artists/1990854-jenny-lindfors?utm_source=19589&utm_medium=partner\",\"identifier\":[{\"mbid\":\"ef34952d-5f22-4f3b-95af-e44657083dff\",\"href\":\"http://api.songkick.com/api/3.0/artists/mbid:ef34952d-5f22-4f3b-95af-e44657083dff.json\"}],\"id\":1990854},\"billingIndex\":1,\"billing\":\"headline\",\"displayName\":\"Jenny Lindfors\",\"id\":29935694}],\"venue\":{\"lat\":51.5486288,\"displayName\":\"Servant Jazz Quarters\",\"lng\":-0.0767293,\"uri\":\"http://www.songkick.com/venues/494921-servant-jazz-quarters?utm_source=19589&utm_medium=partner\",\"id\":494921,\"metroArea\":{\"country\":{\"displayName\":\"UK\"},\"displayName\":\"London\",\"uri\":\"http://www.songkick.com/metro_areas/24426-uk-london?utm_source=19589&utm_medium=partner\",\"id\":24426}},\"popularity\":0.00012,\"location\":{\"lat\":51.5486288,\"lng\":-0.0767293,\"city\":\"London, UK\"},\"start\":{\"time\":\"19:30:00\",\"date\":\"2013-04-25\",\"datetime\":\"2013-04-25T19:30:00+0000\"},\"displayName\":\"Jenny Lindfors at Servant Jazz Quarters (April 25, 2013)\",\"uri\":\"http://www.songkick.com/concerts/15227494-jenny-lindfors-at-servant-jazz-quarters?utm_source=19589&utm_medium=partner\",\"id\":15227494},{\"type\":\"Concert\",\"performance\":[{\"billingIndex\":1,\"billing\":\"headline\",\"artist\":{\"displayName\":\"\xE2\x80\xA6And You Will Know Us by the Trail of Dead\",\"uri\":\"http://www.songkick.com/artists/4301-and-you-will-know-us-by-the-t[...]
[...]
- request: 
    method: get
    uri: http://developer.echonest.com/api/v4/artist/terms?api_key=SYT5EOFXZFDBJFV2P&format=json&id=songkick:artist:1990854
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"f762a53e4ac241a0304a0c8d9a67ed38f1e5bc53\""
      X-Worker-Node: 
      - 2902a:14294
      X-Ratelimit-Remaining: 
      - "19"
      X-Ratelimit-Limit: 
      - "20"
      X-Ratelimit-Used: 
      - "1"
    body: 
      encoding: ASCII-8BIT
      string: "{\"response\": {\"status\": {\"version\": \"4.2\", \"code\": 0, \"message\": \"Success\"}, \"start\": 0, \"terms\": [{\"frequency\": 1.0, \"name\": \"folk\", \"weight\": 1.0}, {\"frequency\": 0.35617591359796635, \"name\": \"singer-songwriter\", \"weight\": 0.45454545454545453}, {\"frequency\": 0.16452396420594498, \"name\": \"soul\", \"weight\": 0.15360501567398119}]}}"
  recorded_at: Tue, 23 Apr 2013 14:39:46 GMT
- request: 
    method: get
    uri: http://developer.echonest.com/api/v4/artist/terms?api_key=SYT5EOFXZFDBJFV2P&format=json&id=songkick:artist:4301
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"287091c0c355d7d9f45a85dd8afd1faf2a29e921\""
      X-Worker-Node: 
      - d1c7d:5145
      X-Ratelimit-Remaining: 
      - "19"
      X-Ratelimit-Limit: 
      - "20"
      X-Ratelimit-Used: 
      - "1"
    body: 
      encoding: ASCII-8BIT
      string: "{\"response\": {\"status\": {\"version\": \"4.2\", \"code\": 0, \"message\": \"Success\"}, \"start\": 0, \"terms\": [{\"frequency\": 1.0, \"name\": \"rock\", \"weight\": 1.0}, {\"frequency\": 0.41822748782903491, \"name\": \"indie rock\", \"weight\": 0.89012598886610017}, {\"frequency\": 0.37613058502476693, \"name\": \"a[...]
[...]
- request: 
    method: get
    uri: http://developer.echonest.com/api/v4/artist/terms?api_key=SYT5EOFXZFDBJFV2P&format=json&id=songkick:artist:3436636
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"856aa2c86e56cba5b1925022e648e2c46f2b0aef\""
      X-Worker-Node: 
      - c6357:29774
      X-Ratelimit-Remaining: 
      - "17"
      X-Ratelimit-Limit: 
      - "20"
      X-Ratelimit-Used: 
      - "3"
    body: 
      encoding: ASCII-8BIT
      string: "{\"response\": {\"status\": {\"version\": \"4.2\", \"code\": 0, \"message\": \"Success\"}, \"start\": 0, \"terms\": [{\"frequency\": 0.233090151693326, \"name\": \"hardcore punk\", \"weight\": 0.40000000000000002}, {\"frequency\": 0.22073299252433512, \"name\": \"metalcore\", \"weight\": 0.40000000000000002}, {\"frequency\": 0.21542105321025928, \"name\": \"post-hardcore\", \"weight\": 0.40000000000000002}, {\"frequency\": 0.197392534394845, \"name\": \"sludge\", \"weight\": 0.40000000000000002}, {\"frequency\": 0.27009060450733829, \"name\": \"hardcore\", \"weight\": 0.33333333333333331}, {\"frequency\": 0.29756047872665109, \"name\": \"metal\", \"weight\": 0.29999999999999999}]}}"
  recorded_at: Wed, 24 Apr 2013 14:53:04 GMT
[...]
- request: 
    method: get
    uri: http://developer.echonest.com/api/v4/artist/terms?api_key=SYT5EOFXZFDBJFV2P&format=json&id=songkick:artist:6509489
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 403
      message: Forbidden
    headers: 
      Content-Type: 
      - text/html; charset=UTF-8
      X-Ratelimit-Remaining: 
      - "0"
      X-Ratelimit-Limit: 
      - "20"
      X-Ratelimit-Used: 
      - "30"
    body: 
      encoding: ASCII-8BIT
      string: "{\"response\": {\"status\": {\"version\": \"4.2\", \"code\": 3, \"message\": \"3|You are limited to 20 accesses every minute. You might be eligible for a rate limit increase, go to http://developer.echonest.com/account/upgrade\"}}}"
  recorded_at: Wed, 24 Apr 2013 14:54:14 GMT
recorded_with: VCR 2.4.0
