body {
  color: white;
  font-family: 'Abel', sans-serif;
  background-image: linear-gradient(left top, rgb(13,13,12) 33%, rgb(112,122,121) 67%, rgb(189,180,178) 84%);
    background-image: -o-linear-gradient(left top, rgb(13,13,12) 33%, rgb(112,122,121) 67%, rgb(189,180,178) 84%);
    background-image: -moz-linear-gradient(left top, rgb(13,13,12) 33%, rgb(112,122,121) 67%, rgb(189,180,178) 84%);
    background-image: -webkit-linear-gradient(left top, rgb(13,13,12) 33%, rgb(112,122,121) 67%, rgb(189,180,178) 84%);
    background-image: -ms-linear-gradient(left top, rgb(13,13,12) 33%, rgb(112,122,121) 67%, rgb(189,180,178) 84%);

    background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      color-stop(0.33, rgb(13,13,12)),
      color-stop(0.67, rgb(112,122,121)),
      color-stop(0.84, rgb(189,180,178))
    );
}
  
.container {
  margin-bottom: 60px;
}

.equaliser {
  text-align: center;
}
.main-header {
  text-align: right;
  font-family: 'Audiowide', cursive;
  color:gold;
  font-size: 4em;
  margin-top: 0.4em;
}

.title {
  text-align: center;
  margin-bottom: 1em;
}

a {
  color: white
}

a:hover {
  text-decoration: none;
  color: gold;
}

.intro {
  margin-top: 3em;
}

.icons {
  margin-top: 1.7em;
  text-align: right;
}
.icon-twitter {
  margin-left: 0.8em;
margin-right: 0.6em;
}

#description-text {
  margin-bottom: 60px;
}

form {
  color: gold;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 2em;
}


.label {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
 
}

.form-space {
   margin-bottom: 1.5em;
}

.form-space label {
  font-weight: bold;
 font-size: 22px;
 margin-bottom: 10px;
}

.form-space input {
  width: 300px;
 
}
.form-space select {
  width: 300px;
  margin-bottom: 25px;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}
.form-space select option > * {
  
}
.inline {
  display: inline-block;
  position: relative;
}

.from-to{
  color: white;
  position: absolute;
  left:-75px;
  top: 5px;
}



.button input {
  background-color: gold;
  font-size: 20px;
  font-family: 'Abel', sans-serif;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 5px 5px 5px black;
}

.ticket-btn {
  background-color: gold;
  font-size: 20px;
  font-family: 'Abel', sans-serif;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 5px 5px 5px black;
}

.listing {
  margin-bottom: 20px;
  font-size: 24px;
}

.gold {
  color: gold;
}

.tickets {
  text-align: center;
  margin-left: 0;
  margin-top: 160px;
}

.info {
  width: 200px;
}
.album {
  text-align: center;
  height: 400px;
}

.player {
  display: none;
  position: absolute;
  text-align: center;
  opacity: 0.8;
  left:-30px;
  top: 341px;  
  background-color: grey;
  background-image: linear-gradient(left top, rgb(180,182,184) 25%, rgb(94,104,112) 63%, rgb(110,120,125) 82%);
background-image: -o-linear-gradient(left top, rgb(180,182,184) 25%, rgb(94,104,112) 63%, rgb(110,120,125) 82%);
background-image: -moz-linear-gradient(left top, rgb(180,182,184) 25%, rgb(94,104,112) 63%, rgb(110,120,125) 82%);
background-image: -webkit-linear-gradient(left top, rgb(180,182,184) 25%, rgb(94,104,112) 63%, rgb(110,120,125) 82%);
background-image: -ms-linear-gradient(left top, rgb(180,182,184) 25%, rgb(94,104,112) 63%, rgb(110,120,125) 82%);

background-image: -webkit-gradient(
  linear,
  left top,
  right bottom,
  color-stop(0.25, rgb(180,182,184)),
  color-stop(0.63, rgb(94,104,112)),
  color-stop(0.82, rgb(110,120,125))
);
  padding-top: 8px;
  padding-bottom: 8px;
 
}

.icon {
  margin-left: 40px;
}

.artist {
  margin-bottom: 30px;
}

.album {
  background-image: url("http://img.cdandlp.com/2012/09/imgL/115569818.jpg");
  background-size: 100%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 400px;
}

.song-album {
  background-color: grey;
  opacity: 0.75;
  text-align: left;
  /*padding-top: 5px;*/
  position: absolute;
  left: -30px;
  top: 0px;
}

#pic {
  height: 400px;
}

.skip {
  text-align: center;
  padding-left: 20px;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 30px;
  background: grey;
/*  opacity: 0.6;*/
}

.icon-headphones {
  color: gold;
}

.playing-text {
  display: none;
  margin-left: 20px;
}