// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.home {
  
}

body.playlist_page {
background-color: black;
  background-image: url(/assets/results-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}