<head>
  <div class="row">
    <div class="equaliser">
      <h1 class="span4 main-header offset3"> Audiogasm </h1>
    </div>
<!-- <div class="icons span2 offset1">
<a href="#"><i class="icon-twitter icon-3x"></i></a>
<a href="#"><i class="icon-facebook icon-3x"></i></a>
</div> -->
  </div>
</head>