<head>
  <div class="row equaliser">
 <img class="span3 gif" src="/assets/equalizer.gif">
<h1 class="span4 main-header"> Audiogasm </h1>
<div class="icons span2 offset1">
<i class="icon-twitter icon-3x"></i>
<i class="icon-facebook icon-3x"></i>
</div>
  </div>
</head>